.custom_left_side{
    height: 100%;
    width: 20vw;
    background-color: #313a46;
    border-radius: 0;
}

ul> li >a{
        color: white !important;
        text-decoration: none;
}

.app-dropdown{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    row-gap: 10px;

    p{
        color: rgb(168, 168, 168);
    }
}

.rightbar{
    background-color: rgba(240, 239, 239, 0.336);
}

.stats-cards{
    background-color: white;
}

.second-content-card{
    background-color: white;
    border-radius: 10px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}


.grey-text-table-top{
    font-size: 15px;
    color: #8a969c;
}

.grey-text-table-down{
    font-size: 14px;
    color: rgb(108, 117, 125);
}

.flag-img{
    height: 13px;
    margin-right: 13px;
}